.mainStyle
{
    width: 315px;
    padding: 14px 12px;
    font-family: 'SuisseIntl';
    text-align: center;
    font-size: 14px; 
    font-feature-settings: 'clig' off, 'liga' off; 
    gap: 10px; 
    border-radius: 6px;
    resize: none;
    border: 1px solid;
}

.textInput
{
    color: var(--text_black, #212121);
    text-align: center;
    font-family: 'SuisseIntl';
    font-size: 18px;
    font-style: normal;
    font-weight: 40px;
}